  <div class="container">
    <div class="homepage-logo">
        <a href="javascript:void(0)" class="mobile-logo">
         <img src="<%= image_path('codelatino-logo.png') %>">
        </a>
      </div>
  </div>
  <div id="js-parallax-window" class="parallax-window">
    <div class="parallax-static-content">
      <img class="tag-ribbon header-tag-ribbon" src="<%= image_path('ribbon-top.png') %>">
      <article class="type-system-sans container marquee-title"><br>
        <h1>
          Empowering the Latino Tech Community
        </h1>
        <h2 class="marquee-title-event-date">Help us grow the community!</h2>
        <br>
        <p>
        <a href="http://www.meetup.com/Code-Latino" target="_blank">
          <button class="alert-button" > JOIN GROUP </button>
        </a>
        </p>

      </article>
    </div>
    <div id="js-parallax-background" class="parallax-background homepage-header">
    </div>
  </div>

  <article class="type-system-sans highlight-section">
    <div class="container homepage-content">
      <h2 style="font-style: italic;">
        <span class="quotes">ʻʻ</span>Our mission is to empower the Latino community to pursue careers in web development &amp; design. By providing training and networking opportunities, we believe we can help narrow the diversity gap in the tech industry.<span class="quotes">ʻʻ</span>
      </h2>  
    </div>
  </article>

  <!-- Events -->
  <article class="type-system-sans home-page-events">
    <div class="container homepage-content">
      <h1> EVENTS </h1>
      <div class="flex-boxes home-page-event-hero">
        <div href="javascript:void(0)" class="flex-box flex-box-big">
          <div class="tag">
            <img class="tag-ribbon" src="<%= image_path('ribbon-top.png') %>"> LAUNCH
          </div>
          <img class="event-image" src="<%= image_path('logo-icon.png') %>">
          <br/>
          <h1 class="flex-title">Code Latino Launch</h1>
          <p>We are really exited to announce the official launch of Code Latino. Join us for a night of networking and conversation about who we are and why is important to promote Latinos in Tech. (Food and drinks provided)</p>
          <span><b>Date:</b> March 10th, 2016</span> <span>|</span>
          <span><b>Time:</b> 6:30 pm </span> <span>|</span>
          <span><b>Location:</b> Pivotal Labs (Merchandise Mart)</span> <span>|</span>
          <br><br>
          <h3>This event is <span class="highlight">FREE</span>.</h3>
          <br/><br/>
          <a target="blank" href="http://www.meetup.com/Code-Latino/events/229336815/" class="alert-button"> RSVP </a>
        </div>
      </div>
      <div class="flex-boxes home-page-event-hero">
        <div href="javascript:void(0)" class="flex-box flex-box-big">
          <div class="tag">
            <img class="tag-ribbon" src="<%= image_path('ribbon-top.png') %>"> MEETUP
          </div>
          <img class="event-image" src="<%= image_path('logo-icon.png') %>">
          <br/>
          <h1 class="flex-title">Code &amp; Chelas </h1>
          <p>Code Latino hosts a regular meetup the first wednesday of every month where we get together to share ideas, know cool people and enjoy talking about what we love most. Check out current Meetups for upcomming events. </p>
          <br/><br/>
          <a target="blank" href="http://www.meetup.com/Code-Latino/" class="alert-button">View Meetups </a>
        </div>
      </div>
    </div>
    <div class="container">
      <div flex-boxes home-page-event-hero><h3>More to Come ... </h3></div>
    </div>
  </article>


  <!--Footer -->
  <article class="type-system-sans contact-section">
    <div class="container homepage-content">
      <h1>Get involved</h1>
        <p>
          Send us an email, follow us or check our Meetup page for upcomming events. We would love to hear from you!
      </p>
      <p>
        <a class="email" href="mailto:info@codelatino.com">info@codelatino.com</a><br/>
      </p>
      <p>
        <a class="social-media-icons" target="_blank" href="https://www.facebook.com/codelatno">
          <img class="tag-ribbon" src="<%= image_path('facebook.png') %>">
        </a>
        <a class="social-media-icons" target="_blank" href="https://twitter.com/CodeLatino">
          <img class="tag-ribbon" src="<%= image_path('twitter.png') %>">
        </a>
        <a class="social-media-icons" target="_blank" href="http://www.meetup.com/Code-Latino">
          <img class="tag-ribbon" src="<%= image_path('meetup.png') %>">
        </a>
      </p>

    </div>
  </article>