  <div class="container">
    <div class="homepage-logo">
        <a href="javascript:void(0)" class="mobile-logo">
         <img src="<%= image_path('codelatino-logo.png') %>">
        </a>
      </div>
  </div>
  <div id="js-parallax-window" class="parallax-window">
    <div class="parallax-static-content">
      <article class="type-system-sans container marquee-title">
        <h1>
          Empowering the Latino Tech Community
        </h1>
        <h2 class="marquee-title-event-date">Coming up: Wed, Octuber 7, 2015</h2>
        <br>
        <h2 >
          <span class="marquee-title-event">Code &amp; chelas</span>
        </h2>
        <br>
        <p>
          <button class="alert-button" href="http://www.meetup.com/Code-Latino/"> JOIN THE MEETUP </button>
        </p>
      </article>
    </div>
    <div id="js-parallax-background" class="parallax-background homepage-header">
    </div>
  </div>

<!--   
  <article class="type-system-sans home-page-events">
    <div class="container homepage-content">
      <br>
      <br>
      <p class="statement">
        Code Latino’s goal is to provide powerful hands­on Tech events for everyone and anyone in the latino comunity that seek professional help in web development and design.
      </p>
      <h1> EVENTS </h1>
      <div class="flex-boxes home-page-event-hero">
        <a href="javascript:void(0)" class="flex-box flex-box-big">
          <div class="tag">
            <img class="tag-ribbon" src="<%= image_path('ribbon-top.png') %>"> WORKSHOP
          </div>
          <img src="<%= image_path('basic-programming-icon.png') %>">
          <br/>
          <h1 class="flex-title">Intro to Web Development </h1>
          <p>Join us in our first workshop for latinos where we will cover the fundamentals of web development as well as share some insights from influent leaders in the Latino Tech Community</p>
          <h3>This event is <span class="highlight">FREE</span>.</h3>
          <br/><br/>
          <span class="alert-button"> REGISTER </span> 
        </a>
      </div>
    </div>
  </article> -->

  <article class="type-system-sans highlight-section">
    <div class="container homepage-content">
      <h2 style="font-style: italic;">
        "Our mision is to empower the latino community to pursue careers in web development &amp; design. By providing training and networking opportunities we believe we can help close the diversity gap in the Tech industry"
      </h2>
        <h2><strong>Help us spread the word and grow the community!</strong> </h2>
      <p> 
    </div>
  </article>
  <article class="type-system-sans contact-section">
    <div class="container homepage-content">
      <h1>Get involved</h1>
        <p>
          Send us an email, follow us or check out our Meetup page for upcomming events. We would love to hear form you!
      </p>
      <p>
        <a class="email" href="mailto:info@codelatino.com">
          <img class="email-icon" src="<%= image_path('email.png') %>">
        </a>
        <br/><br/>
        <a class="email" href="mailto:info@codelatino.com">info@codelatino.com</a><br/>
      </p>
      <p>
        <a class="social-media-icons" target="blank" href="https://www.facebook.com/codelatno"> 
          <img class="tag-ribbon" src="<%= image_path('facebook.png') %>">
        </a>
        <a class="social-media-icons" target="blank" href="https://twitter.com/CodeLatino"> 
          <img class="tag-ribbon" src="<%= image_path('twitter.png') %>">
        </a>
        <a class="social-media-icons" target="blank" href="http://www.meetup.com/Code-Latino"> 
          <img class="tag-ribbon" src="<%= image_path('meetup.png') %>">
        </a>
      </p>

    </div>
  </article>